---
import "../styles/global.css";

interface Props {
	title?: string;
}
const { title = "Landing RAIL" } = Astro.props;
---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width, initial-scale=1" />
		<meta name="generator" content={Astro.generator} />
		<link rel="preconnect" href="https://fonts.googleapis.com" />
		<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
		<link
			rel="stylesheet"
			href="https://fonts.googleapis.com/css2?family=Inter:wght@400;600;700;800&family=Space+Grotesk:wght@600&display=swap"
		/>
		<title>{title}</title>
	</head>
	<body>
		<div id="barba-wrapper" data-barba="wrapper">
			<main data-barba="container" data-barba-namespace={Astro.url.pathname}>
				<slot />
			</main>
		</div>
		<script>
			import "../scripts/transitions.ts";
		</script>
	</body>
</html>
